# Django и Django REST Framework
*.pyc
*.pyo
__pycache__
*.so
*.egg
*.egg-info
dist
build
venv
.env

# Игнорирование миграций Django
**/migrations/
*.pyc

# Файлы окружения
.env

# Кэш и временные файлы
*.log
*.cache
*.swp
*.bak
*.pyc

# Static files
npm-debug.log
yarn-debug.log
yarn-error.log

# Остальные зависимости
/node_modules
/staticfiles
/db.sqlite3